.admin-sidebar {
  width: 250px;
  height: 500px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.admin-blueSide {
  background-color: #0d28a6;
  width: 62px;
}

.admin-blueSide-dashboard {
  background: rgba(255, 255, 255, 0.30);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  cursor: pointer;
}

.admin-blueSide-dashboard h5 {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.admin-blueSide-cars {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
}

.admin-blueSide-cars h5 {
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.admin-whiteSide {
  background-color: #fff;
  width: 195px;
}

.admin-whiteSide h4:nth-child(1) {
  color: #8A8A8A;
  font-size: 17px;
  font-weight: 600;
  padding-top: 40px;
  padding-left: 20px;
}

.admin-whiteSide h4:nth-child(2) {
  background-color: #CFD4ED;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}